@if (showModal) {
    <div class="modal-overlay" (click)="closeModal()">
        <div class="modal-content" (click)="$event.stopPropagation()">
            <button class="modal-close" (click)="closeModal()">&times;</button>
            <b><p>Kim Bu Yakışıklı - Aa Benmişim</p></b>
            <br>
            <p class="modal-text">Hangi yazı ne zaman paylaşıldı, o inceleme kaç puan almıştı, her sene en az kaç Final
                Fantasy inceleniyor, "Ne demek Ali Sezgin
                400'den fazla inceleme yazdı?" karmaşalarına son!
                OGZ Kritik geri geldi! Bugüne kadar çıkmış tüm yazıları istediğiniz gibi filtreleyip karşılaştırma
                yapmak yeniden mümkün.</p>
            <br>
            <b><p>Bir Tıkla Hop Dergidesin</p></b>
            <br>
            <p class="modal-text">Ayrıca, 2025'e kadar olan yazıların üzerine tıkladığınızda o yazıların yayımladığı
                dergiye de erişebilirsiniz. Neden 2025 ve sonrası yok? Çünkü
                Oyungezer artık <a
                    href="https://www.patreon.com/cw/oyungezerdergi" target="_blank"><u>Patreon'da!</u></a></p>
            <br>
            <p class="modal-text">Ve her türlü geri bildirim, öneri verebilmek yalnızca iki tık uzağınızda! Aslında tek tık da olabilirdi ama
                canım böyle istedi.</p>
            <p></p>
            <br>
            <b><p>Sensiz Olmazdı</p></b>
            <br>
            <p class="modal-text">Orijinal sitenin gelişticisi, haliyle fikrin sahibi ve benimle tüm kaynak kodları
                paylaşan Burak Şahin'e sonsuz teşekkürler! </p>
            <p></p>
            <br>
            <div style="text-align: center;">
                <button class="modal-close-button" (click)="closeModal()">Kapat</button>
            </div>
        </div>
    </div>
}

