.app-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    background: linear-gradient(to bottom, #d4ddf7, white)
}

.header-logo {
    max-height: 60px;
    object-fit: contain;
}

.app-header h1 {
    margin: 0;
    font-size: 1.25rem;
}

@media (max-width: 767px) {
    .app-header {
        padding: 0.7rem 0;
    }

    .header-logo {
        max-height: 40px;
    }
}
