.app-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    border-bottom: 1px solid #e5e7eb;
    background: linear-gradient(to bottom, #D9D7D7FF, white)
}

.header-logo {
    max-height: 60px;
    object-fit: contain;
}

.app-header h1 {
    margin: 0;
    font-size: 1.25rem;
}

