<div class="dashboard">
    <div class="dashboard-card">
        <a routerLink="/review">
            <img ngSrc="/assets/images/review.png" alt="Review" class="review" height="226" width="293"/>
        </a>
    </div>
    <div class="dashboard-card">
        <a routerLink="/magazine">
            <img ngSrc="/assets/images/magazine.png" alt="Magazine" class="review" height="219" width="219"/>
        </a>
    </div>
    <div class="dashboard-card">
        <a routerLink="/author">
            <img ngSrc="/assets/images/author.png" alt="Author" class="review" height="219" width="294"/>
        </a>
    </div>
</div>
