.dashboard {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

.dashboard-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-content: center;
}


.dashboard-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.score-card {
    background: #fbfbfb;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.score-card-issue {
    max-height: 200px;
    margin: auto;
}

.score-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score-value {
    font-size: 1.5rem;
    font-weight: bold;
    color: #646464;
    text-align: center;
    user-select: none;
    margin-top: -15px;
    opacity: 90%;
}

.dashboard-card a {
    display: block;
    width: 100%;
    max-width: 300px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.goyun {
    background: none;
}

.dashboard-card a:hover {
    transform: translateY(-15px);
}

.image {
    background: #fbfbfb;
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 12px;
}

.image-secondary {
    width: 75%;
}

.image-secondary:hover {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    transform: translateY(-15px);
}

.image-goyun {
    background: none;
    &:hover {
        transform: none;
    }
}

@media (max-width: 768px) {
    .dashboard {
        gap: 1.2rem;
        padding: 1.2rem;
    }

    .dashboard-row {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.2rem;
    }

    .dashboard-card a {
        max-width: 200px;
    }

    .score-card {
        padding: 1rem;
    }

    .score-content {
        margin-top: 0.5rem;
    }

    .score-value {
        font-size: 2rem;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .dashboard-row {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }
}

@media (min-width: 1025px) {
    .dashboard {
        margin-top: 2%;
    }
}
