.dashboard {
    cursor: pointer;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.review {
    /*border: 1px solid lightgray;*/
    background: #fbfbfb;
}
