<div class="dashboard">
    <div class="dashboard-row">
        <div class="dashboard-card">
            <a routerLink="/review">
                <img ngSrc="/assets/images/review.png" alt="Review" class="image" height="226" width="293"/>
            </a>
        </div>
        <div class="dashboard-card">
            <a routerLink="/magazine">
                <img ngSrc="/assets/images/magazine.png" alt="Magazine" class="image" height="219" width="219" priority/>
            </a>
        </div>
        <div class="dashboard-card">
            <a routerLink="/author">
                <img ngSrc="/assets/images/author.png" alt="Author" class="image" height="219" width="294"/>
            </a>
        </div>
    </div>
    <div class="dashboard-row dashboard-row-secondary">
        <div class="dashboard-card">
            <img ngSrc="/assets/images/what-is.png" alt="What is OGZ Kritik" class="image image-secondary" height="500"
                 width="500" (click)="openModal()" style="cursor: pointer;"/>
        </div>
        <div class="dashboard-card goyun">
            <img ngSrc="/assets/images/goyun.png" alt="Goyun" title="Goyun" class="image image-secondary image-goyun"
                 height="933" width="796"/>
        </div>
        <div class="dashboard-card">
            <a href="mailto:mert@oyungezer.com.tr">
                <img ngSrc="/assets/images/contact.png" alt="Contact" class="image image-secondary" height="500"
                     width="500"/>
            </a>
        </div>
    </div>
    <div class="dashboard-row dashboard-row-secondary">
        <div class="dashboard-card score-card">
            <img ngSrc="/assets/images/average-score.png" alt="Average Score" class="image" height="226" width="293"/>
            <div class="score-content">
                <div class="score-value">{{ averageScore() || '...' }}</div>
            </div>
        </div>
        <div class="dashboard-card score-card score-card-issue">
            <img ngSrc="/assets/images/year.png" alt="Year" class="image" height="212" width="446"/>
            <div class="score-content" style="margin-left: 5px">
                <div class="score-value">{{ currentYear - 2007 + 1 }}</div>
            </div>
        </div>
        <div class="dashboard-card score-card score-card-issue">
            <img ngSrc="/assets/images/issue-number.png" alt="Number of Issues" class="image" height="212" width="446"/>
            <div class="score-content">
                <div class="score-value">#{{ latestIssue() || '...' }}</div>
            </div>
        </div>
    </div>
</div>

<app-info-modal [showModal]="showModal" (closeModalEvent)="closeModal()"></app-info-modal>

