.dashboard {
    cursor: pointer;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.dashboard-card {
    padding-right: 1rem;
}

.review {
    background: #fbfbfb;
    height: 219px;
}
