<div class="review-page">
    <div class="review-grid">
        @for (item of paginatedItems(); track $index) {
            <p-card [header]="item.title" class="review-card">
                <p><strong>Yazar:</strong> {{ item.authors?.join(', ') }}</p>
                <p><strong>Sayı:</strong> {{ item.releaseMonthYear.year }}/{{ item.releaseMonthYear.months.join('-') }}</p>
                <p><strong>Puan:</strong> {{ item.scoreIn100 ?? item.scoreIn10 ?? item.scoreIn5 }}</p>
            </p-card>
        }
    </div>

    <p-paginator
        [first]="first()"
        [rows]="rows"
        [totalRecords]="itemsReview().length"
        (onPageChange)="onPageChange($event)">
    </p-paginator>
</div>

