<div class="not-found-container">
    <h1 class="error-code">404</h1>
    <div class="content-box">
        <p class="message">Ah be! Aradığını bulamadın ama Puri'yi buldun. Hayat da böyledir işte, aradığından başka bir şey
            verir bazen. Belki onları sevmektir çözüm... Ne? Siz çoktan Puri'ye mi odaklandınız? Tmm .s.s </p>
        <a href="/assets/images/puri.jpg" target="_blank">
            <img ngSrc="/assets/images/puri.jpg" alt="Puri" title="Puri the Cat" class="puri-image" width="300"
                 height="300"/>
        </a>
    </div>
</div>

